{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'css/mainContent.css' %}" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="pad-base container-fluid text-center">
    <div class="row">
        <div class="d-none d-lg-block col-lg-2">
            <div class="fix-pos d-flex flex-column text-center categories">
                <h3>Категории товаров</h3>
                <a href="#">
                    <ul class="m-2 w-75 list-group">
                        {% for cat in category %}
                        <li class="list-group-item"><a class="nav-link px-2 text-secondary"
                                href="/product/search/?q={{ cat }}">{{ cat }}</a></li>
                        {% endfor %}
                    </ul>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="bg-warning-subtle d-flex flex-column justify-content-start" style="border-radius: 10px;">
                <h2 class="prod-place">{{ product.productName }}</h2>
                <img class="img-thumbnail bg-success-subtle p-2 m-2 w-50 me-0" src="{{ product.productImg.url }}">
                <p class="text-right">{{ product.productDescription }} </p>
                <h6 class="buttons-place">{{ product.productCost }} руб.</h6>
                <div id="button-add" class="add-buttons">
                    <a href="{% url 'cart_add' product.pk %}" class="btn btn-success mt-2">
                        <span>Добавить в корзину</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="d-none d-lg-block col-lg-4">
                <div class="container bg-success-subtle fix-pos basket" style="border-radius: 10px;">
                    <aside>
                        <div>
                            <h2>Корзина</h2>
                            <div id="cart_place">
                                {% if cart %}
                                <div class="prod-basket">
                                    <div id="prod-items" class="container bg-warning-subtle items"
                                        style="border-radius: 10px;">
                                        <script>
                                            $("#prod-items").css("height", "35em");
                                        </script>
                                        {% for product in cart %}
                                        <div id="prod" class="w-100 container card bg-success-subtle item">
                                            <div class="row align-items-center">
                                                <div class="col-3">
                                                    <img class="imgLittle" src="{{ product.img }}">
                                                </div>
                                                <div class="col-7">
                                                    <a href="{% url 'productPage' product.pk %}"
                                                       class="prod-link link-success"
                                                       style="text-overflow: ellipsis; white-space: nowrap; text-decoration: none;">{{ product.name }}</a>
                                                </div>
                                                <div class="col-2">
                                                    <small style="text-overflow: ellipsis; white-space: nowrap;">{{ product.quantity }} шт.</small>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <script>
                                            $(".imgLittle").css("height", "7vh");
                                            $(".imgLittle").css("width", "4vw");
                                        </script>
                                        <div id="end"></div>
                                    </div>
                                    {% else %}
                                    <div id="empty">
                                        <h3>
                                            <span>
                                                <span>В вашей корзине <br> пока пусто</span>
                                            </span>
                                        </h3>
                                        <div>Тут появятся товары, которые вы закажете.</div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <a href="{% url 'cart'%}">
                                <button class="button-add btn btn-secondary me-0">Корзина - {{ totalPrice}}₽</button>
                            </a>
                        </div>
                    </aside>
                </div>
            </div>
    </div>
</div>
{% endblock %}