.imgSmall {
    width: 180px;
    height: 180px;
    background: #c5ebd0;
    border-radius: 5px;
    padding: 2%;
}

.prod{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
