.back-color {
    background-color: #c5ebd0;
}

.imgMedium {
    width: 580px;
    height: 580px;
    background: #c5ebd0;
    border-radius: 5px;
    padding: 2%;
}

.prod-place {
    justify-content: start;
    align-items: center;
}

.imgSmall{
    width: 180px;
    height: 180px;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 2%;
}

.container {
    padding: 10px;
    display: flex;
}

.cat_plate{
    margin: 10px;
    width: 25vw;
    height: 85vh;
}

.buttons-prod{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttons-prod-buttons{
    justify-content: center
}

.cost{
    align-items: end;
}

.fix-pos{
    position: sticky;
    top: 1em;
}
.pad-base {
    margin: 10px;
}

.hide{
    visibility: hidden;
}

.basket{
    display: flex;
    justify-content: space-around;
    height: 90vh;
    align-items: stretch;

}
.prod-basket{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.prod{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    width: 100%;
    margin: 0 0 7px 0;
}

.imgLittle{
    width: 5vh;
    height: 5vw;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 2%;
}